*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --clr-primary: hsl(169, 6%, 66%);
  --clr-secondary: hsl(192, 18%, 48%);
  --clr-accent: hsl(7, 65%, 72%);
  --text-light: hsl(0, 0%, 95%);
}

body {
  font-size: 1.6rem;
  min-height: 100vh;
  background: var(--clr-primary);
  color: var(--text-light);
  font-family: 'Nato Sans JP', sans-serif;
}

main {
  padding: 1.5em;
}

button {
  border: none;
  background: var(--clr-accent);
}
input {
  border: none;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1.5em;
  height: 6.5em;
  background: var(--clr-secondary);
}

.search-form {
  display: flex;
  height: 75%;
}

.search-form__btn img,
.search-form__input {
  height: 100%;
}

.search-form__btn {
  border-radius: 0 0.25em 0.25em 0;
}

.search-form__input {
  border-radius: 0.25em 0 0 0.25em;
}

.location {
  font-size: 3.6rem;
  height: 4rem;
  font-weight: normal;
}

.weather-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10em;
}

.weather-main__temp {
  font-size: 12rem;
  font-weight: normal;
}

.bs-btn {
  box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.25);
}

.text-shadow {
  text-shadow: 0.05em 0.05em 0.1em rgba(0, 0, 0, 25%);
}
